<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${error}"></title>
</head>
<body>
	<h3 th:text="${error}"></h3>
	<div th:text="${message}"></div>
	<div th:text="${status}"></div>
	<p><em>Proverbio chino: Distintas cerraduras se deben abrir con diferentes llaves.</em></p>
	<p>Significado: Cada problema que enfrentamos en la vida requiere un conjunto diferente de habilidades para superar.</p>
	<hr>
	<div th:text="${timestamp}"></div>
</body>
</html>